
<div class="container-fluid">
    <nb-card size="medium">
      <div *ngIf=flag class="picture" style.background-image="url('assets/images/kitten-{{currentTheme}}.png')"></div>
      <img *ngIf=!flag  id="img2" src="http://localhost:8080/images/places/{{restaurant.image}}">
      <div class="details">
          <div class="row">
              <div class="col-xxxl-8 col-xxl-8 col-lg-8 col-md-8 ">
                <div class="h4">{{restaurant.name}}</div>
                <div class="description">address</div>
              </div>
              <div class="col-xxxl-4 col-xxl-4 col-lg-4 col-md-4">
                <button nbButton style="max-width: 4em; margin-top: 2em;
                margin-left: 2em;">Edit</button>
              </div>
          </div>
        
      </div>
     

      <nb-card-footer>

        <a href="https://itunes.apple.com/us/app/kitten-tricks/id1246143230" target="_blank">
          <i class="link-icon ion-social-facebook"></i>
        </a>
        <a href="https://itunes.apple.com/us/app/kitten-tricks/id1246143230" target="_blank">
          <i class="link-icon ion-social-instagram"></i>
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.akveo.kittenTricks" target="_blank">
          <i class="link-icon ion-social-twitter"></i>
        </a>


      </nb-card-footer>
    </nb-card>
 
  </div>