<nb-card>
    <nb-card-header>Insert data</nb-card-header>
    <nb-card-body>
        <AutocompleteComponent (setAddress)="getAddress($event)" adressType="geocode"></AutocompleteComponent>
        <br>
        {{formattedAddress}}
        <br>
        <input type="text" [(ngModel)]="name" style="max-width:50%; margin-left:2em;" nbInput fullWidth shape="semi-round" placeholder="Insert Name">
        <br>
        <br>
        <ngx-upload-file [actionrest]="actionrest" [idSetImage]="idSetImage" [flagImage]="flagImage"></ngx-upload-file>
    </nb-card-body>
</nb-card>