.picture{
    display:inline-block;
    position:relative;
    }
    
    .picture nb-button{
    position: absolute;
    //bottom:0.1em;
    right:0.1em;
    background-color:#fffcfcd2;
    border-radius:0.5em;
    padding:0.5em 0.5em;
    }

  